<footer>
  <p>Questions about this website? Email us at <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a></p>

  <p><a href="https://www.bridgetownrb.com">Bridgetown website </a> / <a href="https://github.com/bridgetownrb/bridgetown">GitHub Repo</a> / <a href="https://discord.gg/4E6hktQGz4">Discord Chat</a> / <a href="https://twitter.com/bridgetownrb">Twitter</a></p>

  <br/>
</footer>
