<header>
  <header-background>
    <img src="/images/bridgetown-background.jpg" loading="lazy" alt="dramatic sunset photo of Portland's famed Fremont Bridge" />
  </header-background>

  <header-content>
    <hgroup class="fade-in-animation">
      <a href="/" style="text-decoration: none"><h1>Bridgetown</h1></a>
      <h2 onclick='
        this.style.animation = "none";
        setTimeout(() => this.style.animation = null, 50)
      '>Cards</h2>
    </hgroup>
  </header-content>
</header>
